.header1{
    /* width: 300px;
    background-image: url('/wallpaperflare.com_wallpaper\(1\).jpg');
    background-position: center; */
}
.col{
    color: white;
}


.__btb-color{

    background-color: white;
    color: black;
    width: 100px;
    height: 40px;
    border-radius: 20px;
    border-color: black;
}

.__btb-color:hover{
    background-color: rgba(50, 48, 48, 0.475);
    color: rgb(249, 248, 251);   
     border: 1px;
     
     &:hover {
        box-shadow: 0 0 10px 0 rgb(255, 255, 255) inset, 0 0 10px 4px (50, 48, 48, 0.475);
        color: rgb(255, 255, 255);
      }

}

